*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    overflow:hidden;

    background:black;

    height:100vh;

    font-family:Arial;

}

.background{

    position:fixed;

    inset:0;

    background:url("../images/background.jpg");

    background-size:cover;

    background-position:center;

    filter:brightness(.45);

}

.overlay{

    position:fixed;

    inset:0;

    background:linear-gradient(

        rgba(0,0,0,.25),

        rgba(0,0,0,.65)

    );

}

.menu{

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    text-align:center;

    color:white;

}
.menu h2{

    font-family:'Special Elite';

    font-size:42px;

}

.menu h1{

    font-family:'Cinzel';

    font-size:90px;

}
button{

    width:340px;

    height:70px;

    margin-top:25px;

    background:rgba(0,0,0,.35);

    border:1px solid rgba(255,0,0,.4);

    color:white;

    font-size:28px;

    letter-spacing:4px;

    cursor:pointer;

}
button:hover{

    background:rgba(120,0,0,.45);

    box-shadow:0 0 35px red;

}
